<html>
<head>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<meta charset="UTF-8">
	<title>AccountSystem</title>

</head>
<body>
	<div class="container">
		{% block main %} {% endblock %}
	</div>

	<!-- jQuery & validation -->
	<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
	<script src="js/form-validation.js"></script>
</body>
</html>